footer.main-footer
    .container
        .row
            .col-md-2
                p.footer--title Lopper
                p.footer--subtitle Eu augue ut lectus arcu bibendum at.
            .col-md-6
                .footer-lists.d-flex.justify-content-between
                    .footer-list
                        p.footer-list--title Menu
                            +footerList(footerMenu)
                    .footer-list
                        p.footer-list--title Services
                            +footerList(servicesList)
                    .footer-list
                        p.footer-list--title Contact us
                            .contacts.d-flex.flex-column
                                a(href="mailto:contact@lop.com") contact@lop.com
                                a(href="tel:856693456") 856 - 693 - 456
            .col-md-3.ml-auto
                .footer-list
                    p.footer-list--title.d-inline-block Follow us
                    svg(width="18" height="18")
                        use(xlink:href="sprite.svg#twitter")
