header.screen-header
    .container
        .row.align-items-center
            .col-md-2
                p.main--logo.mb-0 Studio
            .col-md-5
                +navBar(headerMenu)
            .col-md-3.offset-md-1
                span.main--phone
                    include ../../img/phone-ico.svg
                    a(href="tel:01666693456") (01) 666 - 693 - 456
            .col-md-1.text-right.pr-0
                svg.main--burger(width="27" height="16" fill="none")
                    path(fill="#FCFCFC" d="M0 0h27v2H0zM0 7h27v2H0zM9 14h18v2H9z")
