header.screen-header
    .container
        .row.align-items-center
            .col-md-2.order-md-0.col-sm-3.col-6.order-1
                a(href="#").header--logo.mb-0 Studio
            .col-md-5.d-md-block.order-md-0.col-sm-3.ml-sm-auto.d-none.order-4
                +navBar(headerMenu)
            .col-md-5.order-md-0.col-sm-7.d-sm-block.d-none.order-2.text-right
                span.header--phone
                    include ../../img/phone-ico.svg
                    a(href="tel:01666693456") (01) 666 - 693 - 456
            .col-md-1.order-md-0.d-md-none.pr-md-0.col-sm-2.d-sm-block.col-6.order-3.text-right
                button(type="button").nav--button.bg-transparent.border-0
                    svg.nav--burger(width="27" height="16" fill="none")
                        path(fill="#FCFCFC" d="M0 0h27v2H0zM0 7h27v2H0zM9 14h18v2H9z")