header.screen-header
    .container
        .row.align-items-center
            .col-md-2.col-sm-3.col-6.order-md-0.order-1
                a(href="#").main--logo.mb-0 Studio
            .col-md-5.col-sm-3.order-md-0.order-4.ml-sm-auto.d-none.d-md-block
                +navBar(headerMenu)
            .col-md-5.text-right.col-sm-7.d-sm-block.d-none.order-md-0.order-2
                span.main--phone
                    include ../../img/phone-ico.svg
                    a(href="tel:01666693456") (01) 666 - 693 - 456
            .col-md-1.text-right.pr-md-0.col-sm-2.d-sm-block.d-md-none.col-6.order-md-0.order-3
                button(type="button").button--menu.bg-transparent.border-0
                    svg.main--burger(width="27" height="16" fill="none")
                        path(fill="#FCFCFC" d="M0 0h27v2H0zM0 7h27v2H0zM9 14h18v2H9z")
                            animate(attributeName="d" values="M0 19.092L19.092 0l1.414 1.414L1.414 20.506z"
                            begin="button-menu.click")
