article.intro-test.mb-5
    .intro-test-content.reverse-container
        p.subheading Intro
        p.heading.intro-headining Our future
        p.lead.intro-lead Apparently we had reached a great height in the atmosphere, for the sky
            | was a dead black, and the stars had ceased to twinkle.
        p.text-content By the same illusion which lifts the horizon of the sea to the level of the
            | spectator on a hillside, the sable cloud beneath was dished out, and the car seemed
            | to float in the middle of an immense dark sphere, whose upper half was strewn with silver.
        a.button-main(href="#") Learn more
    .intro-test-img
        img.article-test--img(src='../img/intro-img.png')
        .quote-test
            .blockquote-test--block-big
            .blockquote-test--block
                p Commodo sed egestas egestas fringilla phasellus faucibus.