body {
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

a {
  &:hover {
    text-decoration: none;
  }
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
  }
}

.no-scroll {
  overflow: hidden;
}

.screen {
  background-image: url(../img/header-bg.png),
  linear-gradient(90deg, #5E239D 0%, rgba(196, 196, 196, 0) 56.77%);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #5E239D;
  width: 100%;
  min-height: 770px;
  height: 100vh;
}

.screen-header {
  margin-bottom: 15px;
  padding-top: 60px;

  ul {
    margin-left: 25px;
  }
}

.header--logo,
.header--nav span,
.header--phone a,
.nav--burger {
  color: $main-text-color;
  letter-spacing: 2px;
}

.header--logo {
  font-family: "Mplus1p-Black", Arial, sans-serif;
  font-size: 24px;

  &:hover {
    cursor: pointer;
    color: $complementary-color;
  }
}

.header--nav span,
.header--phone a {
  font-family: "Mplus1p-ExtraBold", Arial, sans-serif;
  font-size: 14.4px;
  position: relative;
  color: $main-text-color;

  &:hover,
  &:focus {
    color: $complementary-color;
  }
}

.header--phone {
  svg {
    margin-right: 18px;
  }

  &:hover,
  &:focus {
    path {
      fill: $complementary-color;
    }

    a {
      color: $complementary-color;
    }
  }
}

.header--nav {
  span.active {
    cursor: default;

    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 10%;
      width: 75%;
      height: 1px;
      background-color: $main-text-color;
    }
  }
}

.nav--button {
  &:hover,
  &:focus {
    .nav--burger path {
      fill: $complementary-color;
    }
  }
}

.nav--burger,
.more-info {
  margin-right: -15px;
}

.screen-content {
  margin: auto;
  width: 100%;
}

.content {
  margin-bottom: 10px;
}

.content--subtitle,
.content--title,
.more-info--content {
  font-family: "Mplus1p-ExtraBold", Arial, sans-serif;
  color: $main-text-color;
}

.content--subtitle,
.more-info--content {
  text-transform: uppercase;
}

.content--subtitle {
  font-size: 14.4px;
  letter-spacing: 4px;
  margin-bottom: 15px;
}

.content--title {
  font-family: "Mplus1p-Black", Arial, sans-serif;
  font-size: 100px;
  line-height: 1.2;

  .pink {
    color: $complementary-color;
  }
}

.more-info--content {
  writing-mode: vertical-lr;
  letter-spacing: 6px;
  font-size: 12.6px;
  margin-bottom: 55px;
  margin-left: 50px;
}

.more-info--arrow {
  margin-right: -1px;
  animation: shake 2s ease-in-out alternate infinite;
}

@keyframes shake {
  100% {
    transform: translateY(30px);
  }
}

.subheader {
  color: $main-text-color;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-left: none;
  font-size: 18px;
  font-family: "Mplus1p-Regular", Arial, sans-serif;
  padding-top: 35px;
  padding-bottom: 35px;
  margin-bottom: 35px;
  display: inline-block;
}

.content-subheader,
.arrow-right {
  margin-right: 35px;
}


.arrow-right {
  &--reverse {
    transform: rotate(180deg);
  }
}

.subheader {
  &:hover .arrow-right {
    animation: move 1s ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
}

@keyframes move {
  100% {
    transform: translateX(30px);
  }
}

.main-content {
  background-color: #ffffff;
  padding: 108px 0;
}

.intro {
  display: flex;
  justify-content: space-between;
}

.intro-content {
  width: 43%;
  align-items: center;
}

.intro-img--block {
  display: flex;
  width: 49%;
  align-items: flex-start;
}

.img-thumb {
  z-index: 2;
  width: 92%;

  .article--img {
    width: 100%;
    z-index: 2;
  }
}

.quote {
  width: 100%;
  margin-top: -36px;
  margin-left: -183px;
  background-color: $main-color;
  position: relative;

  .blockquote--block-big {
    z-index: 1;
    width: 100%;
    height: 41px;
  }
}

.blockquote--block {
  z-index: 3;
  font-family: "NoticiaText-Italic", sans-serif;
  font-size: 23px;
  background-color: $main-color;
  color: $main-text-color;
  position: absolute;
  padding: 160px 65px 140px;
  width: calc(100% - 64px);
  top: 0;
  right: 0;

  p {
    word-wrap: break-word;
  }

  &::before,
  &::after {
    position: absolute;
    left: 0;
    right: 0;
    font-family: inherit;
    font-size: 144px;
    color: #f4f4ed;
    line-height: 0;
    display: block;
    text-align: center;
  }

  &::before {
    content: '“';
    margin-top: -38px;
  }

  &::after {
    content: '”';
    bottom: 30px;
  }
}

.subheading {
  @include text("Mplus1p-ExtraBold", 12px, 6px, $complementary-color, uppercase, 18px, 1.5);
}

.heading {
  @include text("Mplus1p-Medium", 45px, 0, $complementary-text-color, none, 24px, 1.5);
}

.lead {
  @include text("Mplus1p-ExtraBold", 18px, 0, $complementary-text-color, none, 36px, 1.6);
}

.text-content {
  @include text("Mplus1p-Regular", 16px, 0, $text-content, none, 53px, 1.6);
}

.button-main {
  @include button();
}

.button-main {
  &:hover,
  &:focus {
    @include button-hover();
  }
}

.features {
  position: relative;
  padding-top: 90px;
  padding-bottom: 90px;
}

.features--subheading {
  @include text("Mplus1p-ExtraBold", 12px, 6px, $complementary-color, uppercase, 18px, 1.5);
}

.features--heading {
  @include text("Mplus1p-Medium", 45px, 0, $main-text-color, none, 24px, 1.5);
}

.features--lead {
  @include text("Mplus1p-ExtraBold", 18px, 0, $main-text-color, none, 36px, 1.6);
}

.features--text-content {
  @include text("Mplus1p-Regular", 16px, 0, $main-text-color, none, 53px, 1.6);
}

.bg-container {
  background-image: url(../img/bg-features.png), linear-gradient(to bottom, rgba(49, 18, 81, 0) 0, #31124e 80%);
  background-color: #30124e;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  height: 100%;
  width: 65%;
  left: 0;
  top: 0;
  z-index: 1;
}

.features-wrapper {
  z-index: 2;
  position: relative;
}

.app-link {
  writing-mode: vertical-lr;
  text-transform: uppercase;
  letter-spacing: 6px;
  color: #30124e;
  display: block;
  margin: auto;
}

.pager {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.pager--controls {
  button {
    border: 0;
    background: none;
    padding: 0;

    &:not(:last-child) {
      margin-right: 5px;
    }
  }
}

.subscribe {
  padding: 26px 0 40px;
}

.subscribe--title {
  @include text("Mplus1p-Medium", 45px, 0, $complementary-text-color, normal, 24px, 1.5);
}

.subscribe--subtitle {
  font-size: 18px;
  font-family: "Mplus1p-Medium", sans-serif;
  color: $text-content;
  margin-bottom: 45px;
}

.subscribe--form input[placeholder],
button[type="submit"] {
  font-family: "Mplus1p-ExtraBold", sans-serif;
  text-transform: uppercase;
}

.subscribe--form input[placeholder] {
  color: #9B94A3;
  letter-spacing: 4px;
  font-size: 18px;
}

input[type="email"],
.button-subscribe {
  border: 0;
  padding: 15px;
  border-bottom: 3px solid #F4F4ED;

  &:focus {
    outline: none;
  }
}

.button-subscribe {
  font-size: 12.6px;
  letter-spacing: 6px;
  color: $complementary-color;
  background: linear-gradient(to top, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 0) 100%);
  position: relative;
}

.button-subscribe {
  &::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to top, #F2F2F2 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:hover {
    color: $complementary-text-color;
  }

  &:hover .arrow-right-short circle {
    stroke: $complementary-text-color;
  }

  &:hover .arrow-right-short path {
    fill: $complementary-text-color;
  }
}

.screen-footer {
  background-color: #150433;
  color: $main-text-color;
  padding-top: 126px;
  padding-bottom: 208px;
}

.screen-footer a {
  color: $main-text-color;
}

.footer--title {
  font-family: "Mplus1p-Black", sans-serif;
  letter-spacing: 2px;
  font-size: 24px;
}

.footer--subtitle,
.contacts a {
  font-family: "Mplus1p-Regular", sans-serif;
  line-height: 163.4%;
  font-size: 16.2px;
}

.footer-list--title {
  font-family: "Mplus1p-ExtraBold", sans-serif;
  letter-spacing: 6px;
  font-size: 12.6px;
  line-height: 207.9%;
  border-bottom: 1px solid $complementary-color;
  text-transform: uppercase;
}

.footer-list--items a {
  font-family: "Mplus1p-Bold", sans-serif;
  letter-spacing: 1px;
  font-size: 12.6px;
  line-height: 222.8%;
}

.footer-list--items a {
  &:hover,
  &:focus {
    color: $complementary-color;
  }
}

.contact--email,
.contact--tel {
  &:hover,
  &:focus {
    a {
      color: $complementary-color;
    }

    svg path {
      fill: $complementary-color;
      cursor: pointer;
    }
  }
}

.footer--title,
.footer-list--title {
  margin-bottom: 18px;
}

.contact--email,
.contact--tel {
  svg {
    margin-right: 18px;
  }
}

.contact--tel svg {
  width: 9px;
  height: 13px;
}

.socials--links {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.socials--links a:hover svg path {
  fill: $complementary-color;
}

.sidebar-menu {
  width: 280px;
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  z-index: 100;
  display: none;
  background-color: $main-color;
}

.mobile-menu {
  li {
    border-bottom: 1px solid #1b1e21;
    font-size: 20px;
  }

  span {
    padding: 20px 20px;
    display: block;
  }

  a {
    color: $main-text-color;
  }

  li > a > span:hover {
    background-color: #1b1e21;
    transition: 0.4s ease-in-out;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, .7);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  overflow: hidden;
  z-index: 99;
  display: none;
}
