body {
  overflow-x: hidden;
}

a {
  &:hover {
    text-decoration: none;
  }
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
  }
}

.screen {
  background-image: url(../img/header-bg.png),
  linear-gradient(90deg, #5E239D 0%, rgba(196, 196, 196, 0) 56.77%);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #5E239D;
  width: 100%;
  min-height: 770px;
  height: 100vh;
}

.screen-header {
  margin-bottom: 15px;
  padding-top: 60px;

  ul {
    margin-left: 25px;
  }
}

.main--logo,
.main--nav span,
.main--phone a,
.main--burger {
  color: $main-text-color;
  letter-spacing: 2px;
}

.main--logo {
  font-family: "Mplus1p-Black", Arial, sans-serif;
  font-size: 24px;
}

.main--nav span,
.main--phone a {
  font-family: "Mplus1p-ExtraBold", Arial, sans-serif;
  font-size: 14.4px;
  position: relative;
  color: $main-text-color;

  &:hover,
  &:focus {
    color: $complementary-color;
  }
}

.main--phone {
  svg {
    margin-right: 18px;
  }

  &:hover,
  &:focus {
    path {
      fill: $complementary-color;
    }

    a {
      color: $complementary-color;
    }
  }
}

.main--nav {
  span.active {
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 10%;
      width: 75%;
      height: 1px;
      background-color: $main-text-color;
    }
  }
}

.button--menu {
  &:hover,
  &:focus {
    .main--burger path {
      fill: $complementary-color;
    }
  }
}

.main--burger,
.more-info {
  margin-right: -15px;
}

.screen-content {
  margin: auto;
  width: 100%;
}

.content {
  margin-bottom: 10px;
}

.content--subtitle,
.content--title,
.more-info--content {
  font-family: "Mplus1p-ExtraBold", Arial, sans-serif;
  color: $main-text-color;
}

.content--subtitle,
.more-info--content {
  text-transform: uppercase;
}

.content--subtitle {
  font-size: 14.4px;
  letter-spacing: 4px;
  margin-bottom: 15px;
}

.content--title {
  font-family: "Mplus1p-Black", Arial, sans-serif;
  font-size: 100px;
  line-height: 1.2;

  .pink {
    color: $complementary-color;
  }
}

.more-info--content {
  writing-mode: vertical-lr;
  letter-spacing: 6px;
  font-size: 12.6px;
  margin-bottom: 55px;
  margin-left: 50px;
}

.arrow-more {
  margin-right: -1px;
  animation: shake 2s ease-in-out alternate infinite;
}

@keyframes shake {
  100% {
    transform: translateY(30px);
  }
}

.subheader {
  color: $main-text-color;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-left: none;
  font-size: 18px;
  font-family: "Mplus1p-Regular", Arial, sans-serif;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 15px;
  margin-bottom: 35px;
  display: inline-block;

  .content-subheader,
  .arrow-right {
    margin-right: 35px;
  }
}

.subheader {
  &:hover .arrow-right {
    animation: move 1s ease-in-out;
    animation-direction: alternate;
    animation-fill-mode: forwards;
  }
}

@keyframes move {
  100% {
    transform: translateX(30px);
  }
}

.main-content {
  background-color: #ffffff;
  padding: 108px 0;
}

.intro {
  display: flex;
  justify-content: space-between;

  .intro-content {
    padding-right: 0;
    width: 45%;
    align-items: center;
  }

  .intro-img-block {
    display: flex;
    width: 46%;
    align-items: flex-start;

    .article--img {
      z-index: 2;
      width: 70%;
    }

    .quote {
      width: 100%;
      margin-top: -36px;
      margin-left: -183px;
      background-color: $main-color;
      position: relative;

      .blockquote--block-big {
        z-index: 1;
        width: 100%;
        height: 41px;
      }

      .blockquote--block {
        z-index: 3;
        font-family: "NoticiaText-Italic", sans-serif;
        font-size: 23px;
        background-color: $main-color;
        color: $main-text-color;
        position: absolute;
        padding: 160px 65px 140px;
        width: calc(100% - 64px);
        top: 0;
        right: 0;

        p {
          word-wrap: break-word;
        }
      }
    }
  }
}


.blockquote--block {
  &::before,
  &::after {
    position: absolute;
    left: 0;
    right: 0;
    font-family: inherit;
    font-size: 144px;
    color: #f4f4ed;
    line-height: 0;
    display: block;
    text-align: center;
  }

  &::before {
    content: '“';
    margin-top: -38px;
  }

  &::after {
    content: '”';
    bottom: 30px;
  }
}

.wrapper,
.features-wrapper {
  width: 50%;
}

.features-wrapper {
  margin-right: 128px;
}

.subheading {
  @include category();
}

.heading {
  @include title();
}

.lead {
  @include lead();
}

.text-content {
  @include content();
}

.button-main {
  @include button();
}

.button-main {
  &:hover,
  &:focus {
    @include button-hover();
  }
}

.article--img {
  z-index: 2;
}

.bg-container {
  position: absolute;
  width: 100%;
}

.bg-purple {
  background-image: url(../img/bg-features.png),
  linear-gradient(to bottom, rgba(49, 18, 81, 0) 0%, rgba(49, 18, 78, 100) 80%);
  background-color: $main-color;
  background-size: cover;
  background-repeat: no-repeat;
  //width: 100%;
  height: 1008px;
  z-index: 1;
  //max-height: 100%;
}

.features-wrapper {
  z-index: 2;
}

.subscribe {
  padding: 26px 0 40px;
}

.subscribe--title {
  @include title();
}

.subscribe--subtitle {
  font-size: 18px;
  font-family: "Mplus1p-Medium", sans-serif;
  color: $text-content;
  margin-bottom: 45px;
}

.subscribe-form {
  border-bottom: 3px solid #F4F4ED;
}

.subscribe-form input[placeholder],
button[type="submit"] {
  font-family: "Mplus1p-ExtraBold", sans-serif;
  text-transform: uppercase;
}

.subscribe-form input[placeholder] {
  color: #9B94A3;
  letter-spacing: 4px;
  font-size: 18px;
}

input[type="email"],
.button-subscribe {
  border: 0;
  padding: 15px;

  &:focus {
    outline: none;
  }
}

.button-subscribe {
  font-size: 12.6px;
  letter-spacing: 6px;
  color: $complementary-color;
  background: linear-gradient(to top, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 0) 100%);
  position: relative;
}

.button-subscribe {
  &::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to top, #F2F2F2 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:hover {
    color: $complementary-text-color;
  }

  &:hover .arrow-right-short circle {
    stroke: $complementary-text-color;
  }

  &:hover .arrow-right-short path {
    fill: $complementary-text-color;
  }
}

.main-footer {
  background-color: #150433;
  color: $main-text-color;
  padding-top: 126px;
  padding-bottom: 208px;
}

.main-footer a {
  color: $main-text-color;
}

.footer--title {
  font-family: "Mplus1p-Black", sans-serif;
  letter-spacing: 2px;
  font-size: 24px;
}

.footer--subtitle,
.contacts a {
  font-family: "Mplus1p-Regular", sans-serif;
  line-height: 163.4%;
  font-size: 16.2px;
}

.footer-list--title {
  font-family: "Mplus1p-ExtraBold", sans-serif;
  letter-spacing: 6px;
  font-size: 12.6px;
  line-height: 207.9%;
  border-bottom: 1px solid $complementary-color;
  text-transform: uppercase;
}

.footer-list--items a {
  font-family: "Mplus1p-Bold", sans-serif;
  letter-spacing: 1px;
  font-size: 12.6px;
  line-height: 222.8%;
}

.footer-list--items a,
.contacts a {
  &:hover,
  &:focus {
    color: $complementary-color;
  }
}

.footer--title,
.footer-list--title {
  margin-bottom: 18px;
}

.contact-email,
.contact-tel {
  svg {
    margin-right: 18px;
  }
}

.contact-tel svg {
  width: 9px;
  height: 13px;
}

.socials--links {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

a:hover .socials path {
  fill: $complementary-color;
}

