body {
  overflow-x: hidden;
}

a:hover {
  text-decoration: none;
}

p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
  }
}

.screen {
  background-image: url(../img/header-bg.png),
  linear-gradient(90deg, #5E239D 0%, rgba(196, 196, 196, 0) 56.77%);
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-color: #5E239D;
  width: 100%;
  min-height: 770px;
  height: 100vh;

}

.screen-header {
  margin-bottom: 15px;
  padding-top: 60px;

  ul {
    margin-left: 25px;
  }
}

.main--logo,
.main--nav span,
.main--phone,
.main--burger {
  color: $main-text-color;
  letter-spacing: 2px;
}

.main--logo {
  font-family: "Mplus1p-Black", Arial, sans-serif;
  font-size: 24px;
}

.main--nav span,
.main--phone {
  font-family: "Mplus1p-ExtraBold", Arial, sans-serif;
  font-size: 14.4px;
  position: relative;
  color: $main-text-color;

  &:hover,
  &:focus {
    color: $complementary-color;
  }
}

.phone--img {
  margin-right: 18px;
}

.main--nav {
  span.active {
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 10%;
      width: 75%;
      height: 1px;
      background-color: $main-text-color;
    }
  }
}

.main--burger,
.more-info {
  margin-right: -15px;
}

.screen-content {
  margin: auto;
  width: 100%;
}

.content {
  margin-bottom: 10px;
}

.content--subtitle,
.content--title,
.more-info--content {
  font-family: "Mplus1p-ExtraBold", Arial, sans-serif;
  color: $main-text-color;
}

.content--subtitle,
.more-info--content {
  text-transform: uppercase;
}

.content--subtitle {
  font-size: 14.4px;
  letter-spacing: 4px;
  margin-bottom: 15px;
}

.content--title {
  font-family: "Mplus1p-Black", Arial, sans-serif;
  font-size: 100px;
  line-height: 1.2;

  .pink {
    color: $complementary-color;
  }
}

.more-info--content {
  writing-mode: vertical-lr;
  letter-spacing: 6px;
  font-size: 12.6px;
  margin-bottom: 55px;
  margin-left: 50px;
}

.arrow-more {
  margin-right: -1px;
}

.subheader {
  color: $main-text-color;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-left: none;
  font-size: 18px;
  font-family: "Mplus1p-Regular", Arial, sans-serif;
  padding-top: 35px;
  padding-bottom: 35px;
  padding-right: 15px;
  margin-bottom: 35px;
  display: inline-block;

  .content-subheader,
  .arrow-right {
    margin-right: 35px;
  }
}

.main-content {
  background-color: #ffffff;
}

.intro-wrapper {
  width: calc((100% - 128px) / 2);
  margin-right: 128px;
}
.wrapper {
  width: calc((100% - 128px) / 2);
}
.subheading {
  @include category();
}

.heading {
  @include title();
}

.lead {
  @include lead();
}

.text-content {
  @include content();
}

.button-main {
  @include button();
}

.button-main {
  &:hover,
  &:focus {
    @include button-hover();
  }
}

.blockquote--block {
  font-family: "NoticiaText-Italic", sans-serif;
  font-size: 22.5px;
  line-height: 177.4%;
  background-color: $main-color;
  color: $main-text-color;
  //padding-left: 64px;
  //padding-right: 64px;
  //padding-top: 243px;
  //padding-bottom: 180px;

  &::before {
    content: '“';
  }

  &::after {
    content: '”';
  }

  &::before,
  &::after {
    font-family: "NoticiaText-BoldItalic", sans-serif;
    font-size: 144px;
    color: #F4F4ED;
    //line-height: 150.1%;
    //text-align: center;
  }
}

.subscribe--title {
  @include title();
}

.subscribe--subtitle {
  font-size: 18px;
  font-family: "Mplus1p-Medium", sans-serif;
  color: $text-content;
  margin-bottom: 45px;
}

.subscribe-form {
  border-bottom: 3px solid #F4F4ED;
}

.subscribe-form input[placeholder],
button[type="submit"] {
  font-family: "Mplus1p-ExtraBold", sans-serif;
  text-transform: uppercase;
}

.subscribe-form input[placeholder] {
  color: #9B94A3;
  letter-spacing: 4px;
  font-size: 18px;
}

input[type="email"],
.button-subscribe {
  border: 0;
  padding: 15px;

  &:focus {
    outline: none;
  }
}

.button-subscribe {
  font-size: 12.6px;
  letter-spacing: 6px;
  color: $complementary-color;
  background: linear-gradient(to top, rgba(242, 242, 242, 1) 0%, rgba(255, 255, 255, 0) 100%);
  position: relative;
}

.button-subscribe {
  &::before {
    content: "";
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background: linear-gradient(to top, #F2F2F2 0%, rgba(255, 255, 255, 0) 100%);
  }

  &:hover {
    color: $complementary-text-color;
  }

  &:hover .arrow-right-short circle {
    stroke: $complementary-text-color;
  }

  &:hover .arrow-right-short path {
    fill: $complementary-text-color;
  }
}

.main-footer {
  background-color: #150433;
  color: $main-text-color;
  padding-top: 126px;
  padding-bottom: 208px;
}

.main-footer a {
  color: $main-text-color;
}

.footer--title {
  font-family: "Mplus1p-Black", sans-serif;
  letter-spacing: 2px;
  font-size: 24px;
}

.footer--subtitle,
.contacts a {
  font-family: "Mplus1p-Regular", sans-serif;
  line-height: 163.4%;
  font-size: 16.2px;
}

.footer-list--title {
  font-family: "Mplus1p-ExtraBold", sans-serif;
  letter-spacing: 6px;
  font-size: 12.6px;
  line-height: 207.9%;
  border-bottom: 1px solid $complementary-color;
  text-transform: uppercase;
}

.footer-list--items a {
  font-family: "Mplus1p-Bold", sans-serif;
  letter-spacing: 1px;
  font-size: 12.6px;
  line-height: 222.8%;
}

.footer-list--items a,
.contacts a {
  &:hover,
  &:focus {
    color: $complementary-color;
  }
}

.footer--title,
.footer-list--title {
  margin-bottom: 18px;
}
