@media (max-height: 770px) {
  .content--title {
    font-size: 80px;
  }

  .subheader {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .more-info--content {
    margin-bottom: 20px;
  }
}

@media (min-width: 1200px) {
  .features {
    margin-top: -110px;
  }
}

@media (max-width: 991px) {
  .main-nav span .active {
    color: $main-text-color;
  }

  .header--phone svg {
    margin-right: 13px;
  }

  .screen-header ul {
    margin-left: 0;
  }

  .subheader {
    .arrow-right {
      margin-right: 35px;
    }
  }

  .content-subheader {
    flex-shrink: 3;
  }

  .blockquote--block {
    padding: 111px 41px 102px;
    width: calc(100% - 100px);
  }

  .subheading {
    margin-bottom: 15px;
  }

  .heading {
    font-size: 40px;
    margin-bottom: 13px;
  }

  .lead {
    font-size: 16px;
  }

  .blockquote--block {
    p {
      font-size: 16px;
    }

    &::before,
    &::after {
      font-size: 110px;
    }
  }

  .screen-footer {
    padding-top: 126px;
    padding-bottom: 126px;
  }

  .footer--title {
    margin-bottom: 5px;
  }
}

@media (max-width: 767px) {
  .nav--burger {
    margin-right: 0;
  }

  .mobile-menu li {
    span.active {
      cursor: default;
      color: #4e555b;
    }
  }

  .subheader {
    margin-right: 15px;
  }

  .content--title {
    font-size: 60px;
  }

  .main-content {
    padding: 80px 0;
  }

  .intro {
    display: block;
  }

  .intro .intro-content {
    width: 100%;
    margin-bottom: 105px;
  }

  .intro .intro-img--block {
    width: 100%;
  }

  .lead {
    margin-bottom: 25px;
  }

  .heading {
    margin-bottom: 8px;
  }

  .text-content {
    margin-bottom: 30px;
  }

  .intro-img--block {
    width: 100%;
  }

  .features {
    margin-bottom: 0;
  }

  .features-content {
    margin-bottom: 70px;
  }

  .features--subheading {
    @include text("Mplus1p-ExtraBold", 12px, 6px, $complementary-color, uppercase, 15px, 1.5);
  }

  .features--heading {
    @include text("Mplus1p-Medium", 45px, 0, $complementary-text-color, none, 20px, 1);
  }

  .features--lead {
    @include text("Mplus1p-ExtraBold", 18px, 0, $complementary-text-color, none, 25px, 1.6);
  }

  .features--text-content {
    @include text("Mplus1p-Regular", 16px, 0, $text-content, none, 15px, 1.6);
  }

  .subscribe--title {
    font-size: 37px;
    margin-bottom: 13px;
  }

  .subscribe--subtitle {
    margin-bottom: 35px;
  }

  .socials--links {
    justify-content: flex-start;

    a:not(:last-child) {
      margin-right: 10px;
    }
  }

  .screen-footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}

@media (max-width: 575px) {
  .header--phone a {
    font-size: 13px;
  }

  .intro-content {
    margin-bottom: 45px;
  }

  .img-thumb {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    overflow: hidden;
    margin: 0 auto -55px;

    .article--img {
      position: relative;
      z-index: 4;
      width: 100%;
    }
  }

  .intro-img--block {
    display: block;
    position: relative;
  }

  .quote {
    width: 100%;
    margin-top: 0;
    margin-left: 0;
  }

  .blockquote--block {
    padding: 92px 15px 81px;
    width: 100%;
    position: static;

    &::before,
    &::after {
      font-size: 75px;
    }

    &::before {
      margin-top: 0;
      right: auto;
      left: 20px;
    }

    &::after {
      bottom: 44px;
      left: auto;
      right: 20px;
    }

    p {
      text-align: center;
    }
  }

  .button-subscribe {
    justify-content: center;
    flex-grow: 1;
  }

  .subscribe--title {
    font-size: 33px;
    margin-bottom: 5px;
  }

  .subscribe--subtitle {
    margin-bottom: 25px;
  }

  .screen-footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
}

@media (max-width: 509px) {
  .button-subscribe {
    span {
      display: none;
    }
  }
}

@media (max-width: 479px) {
  .subscribe--title {
    font-size: 25px;
  }

  input[type="email"] {
    margin-bottom: 0;
  }

  .footer-list:not(:last-child) {
    margin-right: 40px;
  }

  .footer-list:first-child {
    margin-bottom: 16px;
  }
}

@media (max-width: 374px) {
  input[type="email"] {
    font-size: 16px;
  }

  .button-subscribe {
    padding-left: 5px;
    padding-right: 5px;
  }
}
