- const title = "Test task";

-
    const headerMenu = [
        {
            url: "#",
            title: "Home",
            active: true,
        },
        {
            url: "#",
            title: "Service",
        },
        {
            url: "#",
            title: "Work",
        },
        {
            url: "#",
            title: "About",
        },
    ];

-
    const footerMenu = [
        {
            url: "#",
            title: "Home",
        },
        {
            url: "#",
            title: "About",
        },
        {
            url: "#",
            title: "Service",
        },
        {
            url: "#",
            title: "News",
        },
        {
            url: "#",
            title: "News",
        },
        {
            url: "#",
            title: "Contact",
        },
    ];

-
    const servicesList = [
        {
            url: "#",
            title: "Lorem",
        },
        {
            url: "#",
            title: "Ipsum",
        },
        {
            url: "#",
            title: "Dolor",
        },
        {
            url: "#",
            title: "Sit Amet",
        },
    ];

