- const title = "Test task";

-
    const headerMenu = [
        {
            url: "#",
            title: "Home",
            active: true,
        },
        {
            url: "#",
            title: "Service",
        },
        {
            url: "#",
            title: "Work",
        },
        {
            url: "#",
            title: "About",
        },
    ];

-
    const footerMenu = [
        {
            url: "#",
            title: "Home",
        },
        {
            url: "#",
            title: "About",
        },
        {
            url: "#",
            title: "Service",
        },
        {
            url: "#",
            title: "News",
        },
        {
            url: "#",
            title: "News",
        },
        {
            url: "#",
            title: "Contact",
        },
    ];

-
    const servicesList = [
        {
            url: "#",
            title: "Lorem",
        },
        {
            url: "#",
            title: "Ipsum",
        },
        {
            url: "#",
            title: "Dolor",
        },
        {
            url: "#",
            title: "Sit Amet",
        },
    ];

-
    const socialIcons = [
        {
            name: "twitter",
            url: "https://twitter.com/",
            width: "33",
            height: "32",
        },
        {
            name: "facebook",
            url: "https://www.facebook.com/",
            width: "33",
            height: "32",
        },
        {
            name: "instagram",
            url: "https://www.instagram.com/",
            width: "33",
            height: "32",
        },
        {
            name: "youtube",
            url: "https://www.youtube.com/",
            width: "40",
            height: "32",
        },
        {
            name: "medium",
            url: "https://medium.com/",
            width: "33",
            height: "32",
        },
    ];